{% extends "auctions/layout.html" %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    {% if user == auction.created_by and auction.active %}
    <form method="POST" action="{% url 'close_auction' auction.id %}">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Закрити аукціон</button>
    </form>
    {% endif %}

    {% if auction.winner == request.user %}
        <div class="alert alert-success" role="alert">
            Congratulations! You are the winner of this auction.
        </div>
    {% endif %}

    <h2>{{ auction.title }}</h2>
    {% if auction.image_url %}
        <img style="max-width: 500px; max-height: 500px;" src="{{ auction.image_url }}" alt="Product Image">
    {% endif %}
    <p>Description: {{ auction.description }}</p>
    <p>Current Price: ${{ auction.current_price }}</p>
    <p>Created By: {{ auction.created_by.username }}</p>
    <p>Created At: {{ auction.created_at }}</p>
    <p>Category: {{ auction.category }}</p>

    {% if user.is_authenticated %}
        {% if auction in user.watchlist.all %}
            <form action="{% url 'remove_from_watchlist' auction.id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-warning" type="submit" value="Remove from Watchlist">
            </form>
        {% else %}
            <form action="{% url 'add_to_watchlist' auction.id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Add to Watchlist">
            </form>
        {% endif %}
        
        <h3>Place a Bid</h3>
        <form action="{% url 'place_bid' auction.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="bid_amount">Bid Amount:</label>
                <input class="form-control" type="number" name="bid_amount" id="bid_amount" step="0.01" required>
            </div>
            <input class="btn btn-primary" type="submit" value="Place Bid">
        </form>

        <h3>Comments</h3>
        <ul>
            {% for comment in comments %}
                <ul>{{ comment.commenter.username }} : {{ comment.text }}</ul>
            {% empty %}
                No comments yet.
            {% endfor %}
        </ul>

        <h3>Add a Comment</h3>
        <form action="{% url 'auction_details' auction.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" name="comment_text" rows="3" required></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Add Comment">
        </form>

    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a> to create an auction or place a bid.</p>
    {% endif %}
{% endblock %}