{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for auction in active_auctions %}
        <div class="auction">
            <h3><a href="{% url 'auction_details' auction.id %}">{{ auction.title }}</a></h3>
            {% if auction.image_url %}
                <img style="max-width: 200px; max-height: 200px;" src="{{ auction.image_url }}" alt="Product Image">
            {% else %}
                <img style="max-width: 200px; max-height: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Icon_None.svg/1200px-Icon_None.svg.png" alt="Product Image">
            {% endif %}
            <p>Current Price: ${{ auction.current_price }}</p>
        </div>
        <hr>
    {% empty %}
        <p>No active auctions available.</p>
    {% endfor %}
{% endblock %}